.accordion-wrap {
  margin-bottom: 20px;
}

.accordion {
  & + & {
    margin-top: 10px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;

    &:hover {
      .accordion__btn {
        background-color: #ddd;
      }
    }

    &.active {
      background-color: #ddd;

      .accordion__btn {
        svg {
          transform: rotate(180deg);
        }
      }

      & + .accordion__content {
        max-height: 1000px;
      }
    }

    .accordion__title {
      margin-bottom: 0;
      border: none;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__btn {
    width: 5rem;
    flex: none;
    border: 1px solid #000;

    svg {
      transition: $base-transition;
    }
  }

  &__title {
    position: relative;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    //margin-bottom: 10px;
    border: 1px solid #000;

    &--more {
      &:after {
        position: absolute;
        content: "+";
        right: 20px;
      }

      &.active {
        &:after {
          content: "-";
        }
      }
    }
    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ddd;

      & + .accordion__content {
        max-height: 1000px;
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: white;
    box-shadow: 0px 0px 4px #000;
    width: calc(100% - 4px);
    margin: 0 auto;
  }

  &__descr {
    padding: 10px 20px;
  }

  .accordion {
    padding-left: 10px;
  }
}
