.img-wrap {
  display: block;
  flex: none;

  img {
    width: 100%;
    display: block;
  }
}

.icon-wrap {
  display: block;
  flex: none;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: $base-transition;
  }
}

.icon-calendar {
  width: 1.8rem;
  height: 1.8rem;
}

.icon-arrow {
  width: 2.2rem;
  height: 1.2rem;
}

.arrow-down {
  width: 1rem;
  height: 7rem;
}

.icon-arrow-big {
  width: 2.2rem;
  height: 1.2rem;

  @include media(">=tablet") {
    width: 3.5rem;
    height: 2.2rem;
  }
}

.icon-search {
  width: 1.8rem;
  height: 1.8rem;
}

.icon-search-big {
  width: 2.6rem;
  height: 2.6rem;

  @include media(">=tablet") {
    width: 3rem;
    height: 3rem;
  }
}

.icon-close {
  width: 2.5rem;
  height: 2.5rem;

  @include media(">=tablet") {
    width: 3rem;
    height: 3rem;
  }
}

.attach-icon {
  width: 1.6rem;
  height: 2rem;

  @include media(">=desktop") {
    width: 2.1rem;
    height: 2.5rem;
  }
}