.select {
  position: relative;
  width: 100%;

  &__head {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $border;
    background-color: #20202C;
    border-radius: 18px;
    height: 6rem;
    padding: 2rem 4rem 2rem 2.5rem;
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 2.5rem;
      width: 12px;
      height: 6px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: $base-transition;
      opacity: 0.2;
      @include background-svg('<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1.99561L7 7.9956L1 1.99561" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &.active {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__text {
    font-size: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $base-bg;
    border: 1px solid $border;
    border-radius: 18px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 68px;
    left: 0;
    right: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: $base-transition;

    &.active {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__item {
    min-height: 60px;
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      background-color: rgba(246, 246, 246, 0.04);
    }
  }
  
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    font-family: $secondary-font;
    letter-spacing: -0.01em;
  
    @include media(">=widescreen-lg") {
      font-size: 1.5rem;
    }
  }
}