.grows-section {
  padding: 2rem 0 5rem;
  position: relative;

  @include media(">=tablet") {
    padding: 4rem 0 6rem;
  }

  @include media(">=desktop") {
    padding: 10rem 0;
  }

  @include media(">=widescreen") {
    min-height: 100vh;
    padding: 27.1rem 0 0;
    overflow: hidden;
  }
}
