<h3 class="ui-subtitle">Аккордеон только с одной открытой ячейкой</h3>
<div class="accordion-wrap js-accordion-wrap" data-only="true">
  <div class="accordion js-accordion">
    <div class="accordion__head js-accordion-head">
      <h3 class="accordion__title">Section 2</h3>
      <button class="accordion__btn js-accordion-open">
        <svg class="icon">
          <use xlink:href="#arrow-down"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content js-accordion-content">
      <div class="accordion__descr js-accordion-descr">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius non suscipit aliquam eveniet architecto
          nihil, aut placeat
          explicabo hic debitis saepe vitae nobis sit expedita, laborum eum tempore, nemo praesentium perferendis
          incidunt. Aliquid voluptates
          blanditiis quam ex laborum eius, tempora, eaque labore ratione deserunt accusantium, quidem est iste commodi
          vero facere debitis
          corporis! Blanditiis ex dicta maxime quaerat architecto amet itaque est fuga praesentium quia rerum vel
          facilis
          consectetur, nisi,
          voluptate quas id! Soluta delectus praesentium reprehenderit suscipit id ipsam fugit temporibus, mollitia quia
          facilis laborum quo,
          consectetur molestias minima? Ab, similique. Dolorem rem ut pariatur ea deserunt, sunt nisi officia atque ab
          nemo optio aut
          temporibus sit minima odio nulla dolorum voluptas, ratione suscipit nam voluptatum iure veritatis. Beatae
          recusandae eveniet
          mollitia eos error, doloremque veniam nemo corporis cupiditate, magni dicta ipsam veritatis obcaecati dolor
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius non suscipit aliquam eveniet architecto
          nihil, aut placeat
          explicabo hic debitis saepe vitae nobis sit expedita, laborum eum tempore, nemo praesentium perferendis
          incidunt. Aliquid voluptates
          blanditiis quam ex laborum eius, tempora, eaque labore ratione deserunt accusantium, quidem est iste commodi
          vero facere debitis
          corporis! Blanditiis ex dicta maxime quaerat architecto amet itaque est fuga praesentium quia rerum vel
          facilis
          consectetur, nisi,
          voluptate quas id! Soluta delectus praesentium reprehenderit suscipit id ipsam fugit temporibus, mollitia quia
          facilis laborum quo,
          consectetur molestias minima? Ab, similique. Dolorem rem ut pariatur ea deserunt, sunt nisi officia atque ab
          nemo optio aut
          temporibus sit minima odio nulla dolorum voluptas, ratione suscipit nam voluptatum iure veritatis. Beatae
          recusandae eveniet
          mollitia eos error, doloremque veniam nemo corporis cupiditate, magni dicta ipsam veritatis obcaecati dolor
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius non suscipit aliquam eveniet architecto
          nihil, aut placeat
          explicabo hic debitis saepe vitae nobis sit expedita, laborum eum tempore, nemo praesentium perferendis
          incidunt. Aliquid voluptates
          blanditiis quam ex laborum eius, tempora, eaque labore ratione deserunt accusantium, quidem est iste commodi
          vero facere debitis
          corporis! Blanditiis ex dicta maxime quaerat architecto amet itaque est fuga praesentium quia rerum vel
          facilis
          consectetur, nisi,
          voluptate quas id! Soluta delectus praesentium reprehenderit suscipit id ipsam fugit temporibus, mollitia quia
          facilis laborum quo,
          consectetur molestias minima? Ab, similique. Dolorem rem ut pariatur ea deserunt, sunt nisi officia atque ab
          nemo optio aut
          temporibus sit minima odio nulla dolorum voluptas, ratione suscipit nam voluptatum iure veritatis. Beatae
          recusandae eveniet
          mollitia eos error, doloremque veniam nemo corporis cupiditate, magni dicta ipsam veritatis obcaecati dolor
        </p>
      </div>
    </div>
  </div>
  <div class="accordion js-accordion">
    <h3 class="accordion__title js-accordion-open" data-accordion="content-3">Section 3</h3>
    <div class="accordion__content js-accordion-content">
      <div class="accordion__descr js-accordion-descr">
        <p>
          333Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maiores quia tempora incidunt adipisci
          mollitia, sit ut
          libero natus rem voluptate, reiciendis molestiae harum omnis accusantium ipsam quidem assumenda fugit
          repudiandae vitae, iusto alias
          exercitationem? Consequuntur nisi sequi eveniet libero labore ad neque illum beatae, accusamus accusantium
          aspernatur aut vero quod
          exercitationem debitis provident eos necessitatibus quaerat perspiciatis ut. Dolorum totam voluptas veniam
          quaerat vero pariatur
          suscipit repudiandae, aliquam consequatur ad similique qui cum repellat, itaque voluptatum eius corrupti
          aliquid
          omnis possimus est
          maiores! Animi tempore totam quis necessitatibus hic est doloremque, ipsam provident ipsum reiciendis ea
          voluptatibus accusamus nemo
          possimus perferendis ex nihil molestiae. Nam laboriosam ad tempore esse libero dignissimos placeat, quae,
          quidem
          qui sunt ea!
          Suscipit iste vero impedit enim beatae fugit neque accusantium dolore repellat cumque nemo sapiente autem
          voluptates assumenda,
          velit amet iusto architecto explicabo ipsam minus repellendus. Possimus quibusdam deleniti modi! Magni est et
          necessitatibus animi
          fugit officia alias, maiores corrupti nemo asperiores qui autem eos at quibusdam totam iusto placeat tenetur
          laborum ad. Optio
          excepturi suscipit quibusdam blanditiis quod, laboriosam, error libero magnam ad possimus labore.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion js-accordion">
    <h3 class="accordion__title js-accordion-open" data-accordion="content-4">Section 4</h3>
    <div class="accordion__content js-accordion-content" id="content-4">
      <div class="accordion__descr js-accordion-descr">
        <p>
          4444Lorem ipsum dolor sit amet consectetur adip Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus delectus
          excepturi alias soluta enim officia ipsa vel, ab cumque ut minima temporibus quod doloremque. Itaque omnis
          unde
          laborum recusandae
          nobis mollitia corporis sapiente error eaque odit voluptatibus exercitationem quisquam quibusdam, amet
          repudiandae. Quisquam, error
          non, repudiandae qui nemo fugit sunt doloremque laudantium quas pariatur cupiditate porro suscipit aperiam
          mollitia quasi culpa
          quod, adipisci itaque fugiat omnis odit beatae optio illum. Dolorum, eum, reprehenderit saepe ex doloremque
          quo
          eius est adipisci,
          dolor perferendis nemo unde sunt laboriosam sit corrupti? Possimus nobis consequuntur eveniet? Quis nihil
          perspiciatis tempore in
          repellat ad impedit placeat incidunt dolores veritatis eligendi ab illum recusandae id sed ut et libero
          minima,
          accusantium at non.
          Dolore sint id placeat ipsa rem voluptas eveniet maiores officiis distinctio, porro totam aspernatur
          cupiditate
          molestias est unde
          magnam suscipit ex aliquid, sunt error quae ipsam cumque? Quas animi pariatur delectus. Vel qui inventore
          possimus, a, quasi
          laboriosam quas fugit, magni incidunt nobis repudiandae placeat iusto magnam quae quod saepe itaque cumque
          explicabo. ibusdam
          blanditiis quod, laboriosam, error libero magnam ad possimus labore.
        </p>
      </div>
    </div>
  </div>
</div>

<h3 class="ui-subtitle">Аккордеон со всеми открытыми ячейками</h3>
<div class="accordion-wrap">
  <div class="accordion js-accordion">
    <h3 class="accordion__title accordion__title--more js-accordion-open" data-accordion="content-111">Section 1</h3>
    <div class="accordion__content js-accordion-content" id="content-111">
      <div class="accordion__descr js-accordion-descr">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum similique recusandae quam. Vero error eligendi
          natus maxime, numquam
          a explicabo, temporibus distinctio facere eveniet magnam recusandae? Optio laudantium ipsam, tenetur modi
          recusandae aliquid atque
          distinctio perspiciatis reiciendis obcaecati sequi dolorum vitae ea voluptatibus dolor ullam soluta fugiat,
          velit consectetur nemo
          repellat id. Cupiditate quisquam sit sed est asperiores voluptatum, omnis minus quibusdam sint doloribus
          laboriosam commodi? Sequi,
          itaque illo incidunt explicabo temporibus voluptatibus cum officia qui ea. Assumenda officiis, aperiam quos
          eaque explicabo
          reprehenderit distinctio dignissimos eos, cumque id vel quia. Necessitatibus commodi assumenda saepe quam
          blanditiis libero, soluta
          amet adipisci, nisi atque accusamus consequatur magnam nulla, doloribus nam quibusdam labore incidunt
          praesentium et nemo voluptatum
          corporis quisquam? Sequi quaerat ducimus laudantium nulla omnis aut veritatis sapiente, animi accusantium
          reprehenderit architecto
          explicabo magni, ea ab porro possimus quibusdam quam. Ea ut, accusantium voluptates excepturi consectetur
          asperiores, placeat cumque
          modi distinctio corrupti facilis, ex harum quis tempora officia reiciendis aspernatur! Illo unde quidem dolor
          magnam nam a veniam in
          ab neque.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion js-accordion">
    <h3 class="accordion__title js-accordion-open" data-accordion="content-222">Section 2</h3>
    <div class="accordion__content js-accordion-content" id="content-222">
      <div class="accordion__descr js-accordion-descr">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius non suscipit aliquam eveniet architecto
          nihil, aut placeat
          explicabo hic debitis saepe vitae nobis sit expedita, laborum eum tempore, nemo praesentium perferendis
          incidunt. Aliquid voluptates
          blanditiis quam ex laborum eius, tempora, eaque labore ratione deserunt accusantium, quidem est iste commodi
          vero facere debitis
          corporis! Blanditiis ex dicta maxime quaerat architecto amet itaque est fuga praesentium quia rerum vel
          facilis
          consectetur, nisi,
          voluptate quas id! Soluta delectus praesentium reprehenderit suscipit id ipsam fugit temporibus, mollitia quia
          facilis laborum quo,
          consectetur molestias minima? Ab, similique. Dolorem rem ut pariatur ea deserunt, sunt nisi officia atque ab
          nemo optio aut
          temporibus sit minima odio nulla dolorum voluptas, ratione suscipit nam voluptatum iure veritatis. Beatae
          recusandae eveniet
          mollitia eos error, doloremque veniam nemo corporis cupiditate, magni dicta ipsam veritatis obcaecati dolor
          porro optio repudiandae
          adipisci esse dolore. Ut quidem, veniam, neque eos non rem dolorum, consequuntur tempore velit maiores
          quaerat!
          Explicabo omnis
          sequi ipsam, excepturi eum tempore ducimus dolore natus reprehenderit veritatis quod facere? nulla corrupti
          quas
          perferendis et
          incidunt nesciunt voluptates cupiditate, minima soluta dolorem blanditiis iste totam!
        </p>
      </div>
    </div>
  </div>
  <div class="accordion js-accordion">
    <h3 class="accordion__title js-accordion-open" data-accordion="content-333">Section 3</h3>
    <div class="accordion__content js-accordion-content" id="content-333">
      <div class="accordion__descr js-accordion-descr">
        <p>
          333Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maiores quia tempora incidunt adipisci
          mollitia, sit ut
          libero natus rem voluptate, reiciendis molestiae harum omnis accusantium ipsam quidem assumenda fugit
          repudiandae vitae, iusto alias
          exercitationem? Consequuntur nisi sequi eveniet libero labore ad neque illum beatae, accusamus accusantium
          aspernatur aut vero quod
          exercitationem debitis provident eos necessitatibus quaerat perspiciatis ut. Dolorum totam voluptas veniam
          quaerat vero pariatur
          suscipit repudiandae, aliquam consequatur ad similique qui cum repellat, itaque voluptatum eius corrupti
          aliquid
          omnis possimus est
          maiores! Animi tempore totam quis necessitatibus hic est doloremque, ipsam provident ipsum reiciendis ea
          voluptatibus accusamus nemo
          possimus perferendis ex nihil molestiae. Nam laboriosam ad tempore esse libero dignissimos placeat, quae,
          quidem
          qui sunt ea!
          Suscipit iste vero impedit enim beatae fugit neque accusantium dolore repellat cumque nemo sapiente autem
          voluptates assumenda,
          velit amet iusto architecto explicabo ipsam minus repellendus. Possimus quibusdam deleniti modi! Magni est et
          necessitatibus animi
          fugit officia alias, maiores corrupti nemo asperiores qui autem eos at quibusdam totam iusto placeat tenetur
          laborum ad. Optio
          excepturi suscipit quibusdam blanditiis quod, laboriosam, error libero magnam ad possimus labore.
        </p>
      </div>
    </div>
  </div>
</div>