<div class="filter-tabs js-tabs">
  <ul class="filter-tabs__tabs">
    <li class="filter-tabs__tab active" data-tab="all">all</li>
    <li class="filter-tabs__tab" data-tab="1">1</li>
    <li class="filter-tabs__tab" data-tab="2">2</li>
  </ul>
  <div class="filter-tabs__content">
    <div class="filter-tabs__item active" data-content="1">1</div>
    <div class="filter-tabs__item active" data-content="2">2</div>
    <div class="filter-tabs__item active" data-content="1">1</div>
    <div class="filter-tabs__item active" data-content="2">2</div>
    <div class="filter-tabs__item active" data-content="1">1</div>
  </div>
</div>