<!DOCTYPE html>
<html lang="en" class="theme-dark">
@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    @@include('../layout/header-fixed.html')
    <main class="main">
      @@include('../pages/about/intro-section/intro-section.html')
      @@include('../pages/about/mission-section/mission-section.html')
      @@include('../pages/about/exploration-section/exploration-section.html')
      @@include('../pages/about/vision-section/vision-section.html')
      @@include('../pages/about/grows-section/grows-section.html')
      @@include('../pages/about/team-section/team-section.html')
      @@include('../pages/about/contacts-section/contacts-section.html')
    </main>
  </div>
  @@include('../components/popup.html')
  @@include('../partials/scripts/common.html')
</body>

</html>