<!DOCTYPE html>
<html lang="en" class="theme-dark">
@@include('../partials/head/head.html')

<body>
	<div class="wrapper light-wrapper">
		@@include('../layout/header.html')
		<main class="main">
			<div class="case-section">
				<div class="container">
					<div class="case">
						<div class="case__info">
							<p class="small-text mb-2 mb-md-25 mb-lg-2 theme-color">Virtual Production</p>
							<h2 class="section-title section-title--big mb-3 mb-md-4 mb-xl-3 theme-color">Tostitos</h2>
							<div class="case__images">
								<div class="case__img">
									<img src="assets/images/case1.webp" alt="">
								</div>
								<div class="case__img hide">
									<img src="assets/images/case2.webp" alt="">
								</div>
							</div>
							<div class="case__logo">
								<img src="assets/images/tostitos.webp" alt="">
							</div>
							<p class="case__text base-text theme-color">At vero eos et accusamus et iusto odio
								dignissimos ducimus qui blanditiis praesent
								voluptatum deleniti atque corrupti quos
								dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique
								sunt in culpa qui officia deserunt mollitia anim
								id est laborum et dolorum fuga.</p>
							<p class="case__text base-text theme-color">Et harum quidem rerum facilis est et expedita distinctio. Nam libero
								tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
								minus id quod maxime placeat facere possimus, omnis voluptas assumenda
								est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
								debitis aut rerum necessitatibus saepe eveniet ut et voluptates
								repudiandae sint et molestiae non recusandae.</p>
							<p class="case__text base-text theme-color">On the other hand, we denounce with righteous indignation and dislike
								men who are so beguiled and demoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain
								and trouble that are bound to ensue; and equal blame belongs to those
								who fail in their duty through weakness of will, which is the same as
								saying through shrinking from toil and pain. These cases are perfectly
								simple and easy to distinguish.</p>
							<a href="#" class="btn primary big mob-wirth case__btn">Book a consultation</a>
						</div>
						<div class="case__images desk">
							<div class="case__img">
								<img src="assets/images/case1.webp" alt="">
							</div>
							<div class="case__img hide">
								<img src="assets/images/case2.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		@@include('../layout/footer.html')
	</div>
	@@include('../partials/scripts/common.html')
</body>

</html>