<!DOCTYPE html>
<html lang="en" class="theme-dark">
@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    @@include('../layout/header-fixed.html')
    <main class="main">
      @@include('../pages/game-dev/intro-section/intro-section.html')
      @@include('../pages/game-dev/pros-section/pros-section.html')
      @@include('../pages/game-dev/craft-section/craft-section.html')
      @@include('../pages/game-dev/clients-section/clients-section.html')
      @@include('../pages/game-dev/book-section/book-section.html')
    </main>
    @@include('../layout/footer.html')
  </div>
  @@include('../partials/scripts/common.html')
</body>
</html>