<!DOCTYPE html>
<html lang="en" class="theme-dark">
@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    @@include('../layout/header-fixed.html')
    <main class="main">
      @@include('../sections/intro-section/intro-section.html')
      @@include('../sections/studies-section/studies-section.html')
      @@include('../sections/awards-section/awards-section.html')
      @@include('../sections/news-section/news-section.html')
      @@include('../sections/subscribe-section/subscribe-section.html')
      @@include('../sections/clients-section/clients-section.html')
    </main>
    @@include('../layout/footer-home.html')
  </div>
  @@include('../partials/scripts/common.html')
</body>

</html>