<!DOCTYPE html>
<html lang="en" class="theme-dark">
@@include('../partials/head/head.html')

<body>
  <div class="wrapper light-wrapper">
    @@include('../layout/header-search.html')
    <main class="main">
      @@include('../pages/media-events/events-section/events-section.html')
      @@include('../pages/media-events/subscribe-section/subscribe-section.html')
    </main>
    @@include('../layout/footer.html')
  </div>
  @@include('../components/popup.html')
  @@include('../partials/scripts/common.html')
</body>
</html>