<footer class="footer">
  <div class="container">
    <div class="footer__contacts">
      <div class="contact">
        <div class="contact__icon">
          <img class="dark-img" src="assets/images/local.svg" alt="" />
          <img class="light-img" src="assets/images/local-l.svg" alt="" />
        </div>
        <div class="contact__body">
          <span class="contact__name theme-color">Head office</span>
          <a href="#" class="contact__link theme-color">Los Angeles, California</a>
        </div>
      </div>
      <div class="contact">
        <div class="contact__icon">
          <img class="dark-img" src="assets/images/email.svg" alt="" />
          <img class="light-img" src="assets/images/email-l.svg" alt="" />
        </div>
        <div class="contact__body">
          <span class="contact__name theme-color">Email</span>
          <a href="#" class="contact__link theme-color">info@icvr.io</a>
        </div>
      </div>
      <div class="contact">
        <div class="contact__icon">
          <img class="dark-img" src="assets/images/phone.svg" alt="" />
          <img class="light-img" src="assets/images/phone-l.svg" alt="" />
        </div>
        <div class="contact__body">
          <span class="contact__name theme-color">Phone</span>
          <a href="#" class="contact__link theme-color">+1 (310) 489-0185</a>
        </div>
      </div>
    </div>
    <div class="footer__soc">
      <a href="#" class="soc-link icon-wrap theme-color"> 
        @@include('../../images/fb.svg') 
      </a>
      <a href="#" class="soc-link icon-wrap theme-color"> 
        @@include('../../images/tw.svg') 
      </a>
      <a href="#" class="soc-link icon-wrap theme-color">
        @@include('../../images/inst.svg')
      </a>
      <a href="#" class="soc-link icon-wrap theme-color"> 
        @@include('../../images/in.svg')
      </a>
    </div>
  </div>
</footer>
